
<nav>
  <ul>
    <li>
      Pets
      <ul class="dropdown">
        <li><a routerLink="/viewpet">View My Pets</a></li>
        <li><a routerLink="/addpet">Add Pets</a></li>
      </ul>
    </li>
    <li>
      Appointment
      <ul class="dropdown">
        <li><a routerLink="/addappointment">Add Appointment</a></li>
        <li><a routerLink="/viewappointments">View Appointment</a></li>
      </ul>
    </li>
    <li><a routerLink="/treatmentrecords">View Treatment Records</a></li>
    <li><a routerLink="/viewmyfeedback">View My Feedback</a></li>
  </ul>
</nav>